/* Fonts */



/* Navigation Buttons*/
/*.navbar-nav > .active > a {
    border-bottom: 3px solid white;
    background: none;
}
.navbar-custom .navbar-nav li.active a {
    background: none;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {

    border-bottom: 3px solid;
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255, 255, 255, .25);
}
*/

