body {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden
}

body.home.blog.logged-in.admin-bar.hfeed.customize-support{
    background-color: #969696;
}

#primary-menu, #sct-navbar-brand {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

#sct-navbar-brand {
    font-size: 2em;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    background-color: #000033;
    color: white;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: white;
}

nav.navbar {
    background-color: #9c0c00;
}

/*CAROUSEL*/
.carousel-item > img {
    height: 600px;
    width: auto;
}

div#sct-carousel-indicator {
    background-color: #9c0c00;
}